<%- include('partials/header'); -%>    
<!-- <img src="images/logo.png"> -->
<h1>Sign Up Here For your order</h1>
<form action="/" method="post">
    <input type="text" class="input top" name="FirstName" placeholder="First Name"><br>
    <input type="text" class="input middle" name="LastName" placeholder="Last Name"><br>
    <input type="email" class="input bottom" name="Email" placeholder="Email"><br>
    <button>Sign Up</button><br>
    </form>
<%- include('partials/footer'); -%>